<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="/static/jQuery/jquery-3.2.1.min.js"></script>
    <title>上传图片</title>
</head>
<body>
    <form name="file" action="/upload/image" method="post" enctype="multipart/form-data">
        <p>
            <!--input必须加入name属性，后台通过name属性的值获取文件-->
            选择文件:<input name="file" type="file"/>
        </p>
        <p>
            <!--input必须加入name属性，后台通过name属性的值获取文件-->
            选择文件:<input name="file" type="file"/>
        </p>
        <p>
            <!--input必须加入name属性，后台通过name属性的值获取文件-->
            选择文件:<input name="file" type="file"/>
        </p>
        <p>
            <!--input必须加入name属性，后台通过name属性的值获取文件-->
            选择文件:<input name="file" type="file"/>
        </p>
        <p>
            <!--input必须加入name属性，后台通过name属性的值获取文件-->
            选择文件:<input name="file" type="file"/>
        </p>

        <p>
            上传者ID：<input id="uploaderId" name="uploaderId" value="test0001" readonly>
        </p>

        <p>
            类型：<input id="fileSort" name="fileSort" value="1" readonly>
        </p>

        <p>
            <input type="submit" value="提交"/>
        </p>
    </form>
</body>

</html>